
@import './common/var.less';

.l-view-bg-white{
    background: white !important;
}
.l-view-bg-red{
    background: @red;
}
.l-view-bg-blue{
    background: @blue;
}
.l-view-bg-orange{
    background: @orange;
}
.l-view-bg-gray-dark{
    background: @gray-dark;
}
.l-view-color-blue{
    color: @blue
}
.l-view-color-white{
    color: white;
}
.l-view-text-right{
    text-align: right;
}
.l-view-text-left{
    text-align: left;
}
.l-view-text-ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}