
@import './common/var.less';

.l-cell{
    width: 100%;
    display: flex;
    margin: 12px 0;
    font-size: @font-size-base;
    &-title-bold{
        font-weight: 600;
        font-size: @font-size-large;
    }
    &-title{
        flex: 1;
        padding-right: 6px;
    }
    &-content{
        flex: 4;
        padding: 0 6px;
    }
}