
@import './common/var.less';

.l-number-range{
    display: flex;
    align-items: center;
}
.l-number-range-input{
    flex: 1;
}
.l-number-range-line{
    width: 20px;
    flex: none;
    text-align: center;
}