
@import './common/var.less';

@borderW: @border-width-base * 2;
@height: @input-height-base - @borderW;
@width: @input-height-base;
@smallWidth_wrap: 130px;
@largeWidth_wrap: 180px;
@aligns: left, right, center;
@size: small, large;

// 循环生成input各对齐方式样式
.align-loop(@n) when (@n > 0) {
    @align: extract(@aligns, @n);
    .l-number-input_input-text-@{align}{
        input{
            text-align: extract(@aligns, @n);
        }
    }
    .align-loop(@n - 1);
}
.align-loop(length(@aligns));

// 循环生成各size的样式
.size-loop(@n) when (@n > 0) {
    @s: extract(@size, @n);
    @w_n: 'input-height-@{s}';
    @h_n: 'input-height-@{s}';
    @f_n: 'font-size-@{s}';
    @w_w_n: '@{s}Width_wrap';
    @w: @@w_n;
    @h: @@h_n - @borderW;
    @f: @@f_n;
    .l-number-input_@{s}{
        &.l-number-input{
            width: @@w_w_n;
        }
        .l-number-input_add,
        .l-number-input_subtract{
            width: @w;
            height: @h;
            line-height: @h;
            font-size: @f;
        }
        &.l-number-input_right{
            .l-number-input_add,
            .l-number-input_subtract{
                display: block;
                width: @w;
                height: @h / 2;
                line-height: @h / 2;
            }
        }
    }
    .size-loop(@n - 1);
}
.size-loop(length(@size));

.l-number-input{
    width: 160px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    &_add,
    &_subtract{
        display: inline-block;
        width: @width;
        height: @height;
        line-height: @height;
        font-size: @font-size-base;
        text-align: center;
        cursor: pointer;
        &[disabled]{
            background: @gray-lighter;
            cursor: not-allowed;
            color: @disabled-color;
        }
    }
    &_right{
        .l-number-input_add,
        .l-number-input_subtract{
            display: block;
            height: @height / 2;
            line-height: @height / 2;
        }
        .l-number-input_add{
            border-bottom: @border-base;
        }
    }
    &_input{
        .l-input-prepend,
        .l-input-append{
            padding: 0 !important;
        }
    }
    .l-input-wrapper.l-input-group .l-input-prepend,
    .l-input-wrapper.l-input-group .l-input-append{
        padding: 0;
    }
}