
@import './common/var.less';

.l-table{
    background: white;
    box-shadow: 0px 0px 10px -1px fade(black, 10%);
    border-radius: 3px;
    .inputNumberTd{
        .ivu-table-cell{
            padding: 0 6px;
            overflow: visible;
        }
    }
}
.l-table-page{
    padding: 20px;
    padding-bottom: 30px;
}
.l-table-td-btns{
    button+button{
        margin-left: 6px;
    }
}
.l-table-td-links{
    a{
        text-decoration: underline;
    }
    a+a{
        margin-left: 12px;
    }
}